<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
                <p class="text-faded">We're an innovative startup using AI/ML in banking and financial industries. Our algorithms provide insights into recurring patterns and provide suggestions to maximize earnings. We're a global enterprise and would love to hear from you!</p>
                <a href="#contact" class="btn btn-default btn-xl">Get in touch</a>
            </div>
        </div>
    </div>
</section>
