<section id="value">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Value we bring</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Increased revenue</h3>
                    <p class="text-muted">Smart rate suggestions to increase your revenue.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Scalable and safe</h3>
                    <p class="text-muted">Highly available infrastructure scalable to support millions of transactions per second. Embedded failsafe mechanisms ensure no transaction is lost.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Self-adaptable</h3>
                    <p class="text-muted">State-of-the-art AI/ML algorithms evolve based on the customer behaviour patterns.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>We grow together</h3>
                    <p class="text-muted">Competitive revenue sharing model where we grow together!</p>
                </div>
            </div>
        </div>
    </div>
</section>
